.create-news_container {
  padding-top: 1em;
  padding-left: 7em;
  padding-bottom: 5rem;
  align-content: center;
  color: rgb(0, 0, 0);
  font-family: var(--font-family);
  font-size: 1.5rem;
  margin: 0 1rem;
  p {
    margin-top: 0.5em;
  }
  ::placeholder {
    
    font-family: var(--font-family);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    opacity: 50%;
}

  .msg {
    font-size: 1rem;
    margin-bottom: 2em;
  }
}
